.vscode/settings.json
P2/scientific_error_rounder.py
P2/scientific_error_rounder2.ipynb
P2/232/_gf_a_Spannung_gegen_Strom.png
P2/232/_gf_e_Spannung_gegen_Strom.png
P2/232/_gf_f_U_gegen_PotR.png
P2/232/232_f_more_graphs.ipynb
P2/232/a_Mess_Spannung_results.txt
P2/232/a_Mess_Spannung.txt
P2/232/a_Mess_Strom_results.txt
P2/232/a_Mess_Strom.txt
P2/232/a_Spannung_gegen_Strom.txt
P2/232/e_Mess_Spannung_results.txt
P2/232/e_Mess_Spannung.txt
P2/232/e_Mess_Strom_results.txt
P2/232/e_Mess_Strom.txt
P2/232/e_Spannung_gegen_Strom.txt
P2/232/f_Mess_R_results.txt
P2/232/f_Mess_R.txt
P2/232/f_Mess_U_results.txt
P2/232/f_Mess_U.txt
P2/232/f_U_gegen_PotR.txt
P2/232/gauss_fehlerfortpflanzung.ipynb
P2/232/geraden_fit.ipynb
P2/232/gf_f_U_gegen_PotR.png
P2/232/join_files.ipynb
P2/232/l_Mess_Temp
P2/232/Aufgabe_L/R1_Temperatur_Fit.png
P2/232/Aufgabe_L/R2_Temperatur_Fit.png
P2/232/Aufgabe_L/R3_Temperatur_Fit.png
P2/232/Aufgabe_L/R4_Temperatur_Fit.png
P2/232/Aufgabe_L/R5_Temperatur_Fit.png
P2/232/Aufgabe_L/Temperatures_la_Thierro.py
P2/232/Aufgabe_L/Temperatures_la_thierry_2.py
P2/234/Experimental_results.txt
P2/236/_gf_c_rech_Phi_gg_I.png
P2/236/_gf_c_rech_R_gg_Phi-1_mit_Faktor.png
P2/236/_gf_i_rech_phi_gg_log_t.png
P2/236/c_rech_Phi_gg_I.txt
P2/236/c_rech_R_gg_Phi-1_mit_Faktor.txt
P2/236/c_rech.txt
P2/236/c.txt
P2/236/i_rech_phi_gg_log_t.txt
P2/236/i_rech.txt
P2/236/i.txt
P2/238/_gf_a_P_Pmess_gegen_R_xD.png
P2/238/_gf_c_cleansed_d_U1I-1gegI2I-1.png
P2/238/_gf_c_cleansed_d_U1I-1gegU2I-2.png
P2/238/_gf_c_graphvalues_2.png
P2/238/_gf_c_graphvalues.png
P2/238/_gf_d_U1I-1gegU2I-2.png
P2/238/_gf_f_cleansed_sig_wl_U_Übersetzung.png
P2/238/_gf_f_graphvalues.png
P2/238/a_cleansed_cos(phi)_results_rounded.txt
P2/238/a_cleansed_cos(phi)_results.txt
P2/238/a_cleansed_Ergebnis_rounded.txt
P2/238/a_cleansed_Ergebnis.txt
P2/238/a_cleansed_P_S_results.txt
P2/238/a_cleansed_P_W_theo_results.txt
P2/238/a_cleansed_R_results.txt
P2/238/a_cleansed_rounded.txt
P2/238/a_cleansed.txt
P2/238/a_P_Pmess_gegen_R_xD.txt
P2/238/a.txt
P2/238/b_maxP_Ergebnis.txt
P2/238/b_maxP.txt
P2/238/c_cleansed_alle_ergebnisse_rounded.txt
P2/238/c_cleansed_alle_ergebnisse.txt
P2/238/c_cleansed_d_U1I-1gegI2I-1_rounded.txt
P2/238/c_cleansed_d_U1I-1gegI2I-1.txt
P2/238/c_cleansed_d_U1I-1gegU2I-2_rounded.txt
P2/238/c_cleansed_d_U1I-1gegU2I-2.txt
P2/238/c_cleansed_P_Cu.txt
P2/238/c_cleansed_P_fe.txt
P2/238/c_cleansed_rounded.txt
P2/238/c_cleansed_U_Übersetzung.txt
P2/238/c_cleansed.txt
P2/238/c_graphvalues_2.txt
P2/238/c_graphvalues.txt
P2/238/c.txt
P2/238/d_U1I-1gegU2I-2.txt
P2/238/f_cleansed_sig_wL_U_Übersetzung_rounded.txt
P2/238/f_cleansed_sig_wL_U_Übersetzung.txt
P2/238/f_cleansed_sig_wL.txt
P2/238/f_graphvalues.txt
P2/238/gauss_fehlerfortpflanzung.ipynb
P2/238/geraden_fit.ipynb
P2/238/join_files.ipynb
P2/238/scientific_error_rounder.py
P2/238/scientific_error_rounder2.ipynb
P2/__pycache__/scientific_error_rounder.cpython-311.pyc
